@model LibraryManagementSystem.Models.HocSinh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm Học Sinh Đọc Sách</h2>

<div>
    <h4>Xác nhận thông tin học sinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

    </dl>
</div>
<div>
    @using (Html.BeginForm())
    {
        <input name="HocSinhID" type="text" value="@Model.ID" hidden />
        <input type="submit" value="Xác Nhận" class="btn btn-default" />

    }
    @Html.ActionLink("Tìm Học Sinh", "Index")
</div>
