@model LibraryManagementSystem.Models.DocSachTaiCho

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Chi Tiết Đọc Sách</h2>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HocSinh.TenHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocSinh.TenHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Danh Sách Học Sinh Đọc Sách", "Index")
</p>
