@model LibraryManagementSystem.Models.ThanhLy

@{
    ViewBag.Title = "Thanh Lý Sách";
}

<h2 class="text-center">Thanh Lý Sách</h2>
<br />
<div>
    <div class="form-horizontal">
        <div class="form-group">
            @using (Html.BeginForm("TimSach", "ThanhLy"))
            {
                <div class="form-inline">

                    <div class="control-label col-md-4"><strong>Tìm Tên Sách</strong></div>
                    <div class="col-md-4">
                        @Html.TextBox("tenSach", null, new { @class = "form-control" })
                    </div>

                    <div class="col-md-4">
                        <input type="submit" value="Tìm" class="btn btn-default" />
                    </div>

                </div>
            }
            <div>
                @if (TempData["Message_Fa"] != null)
                {
                    <p class="col-md-offset-4 col-md-8 text-danger">@TempData["Message_Fa"]</p>
                }
                @if (TempData["Message_Su"] != null)
                {
                    <p class="col-md-offset-4 col-md-8 text-success">@TempData["Message_Su"]</p>
                }
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Lịch Sử Thanh Lý", "Index")
    </div>

</div>
@if (ViewBag.SachID != null)
{
    <h3>Kết quả tìm kếm</h3>
    <br />
    <div class="table-responsive">
        <table class="table table-hover">

            <tr>
                <th>
                    Mã Sách
                </th>
                <th>
                    Tên Sách
                </th>
                <th>
                    Chủ Đề
                </th>
            </tr>

            @foreach (var item in ViewBag.SachID)
            {
                string url = "/ThanhLy/ConfirmCreate/" + item.ID;

                <tr class='clickable-row' data-href='@url'>
                    <td>
                        @item.SachID
                    </td>
                    <td>
                        @item.TenSach
                    </td>
                    <td>
                        @item.ChuDe.TenChuDe
                    </td>
                </tr>
            }

        </table>
    </div>
}
@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
}