@model PagedList.IPagedList<LibraryManagementSystem.Models.ThanhLy>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Lịch Sử Thanh Lý Sách";
}

<h2 class="text-center">Lịch Sử Thanh Lý Sách</h2>
<br />
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 text-right form-inline">
        <a href="~/ThanhLy/Create" class="btn btn-primary active" role="button">Thanh Lý Sách</a>
    </div>
</div>
<br />
@using (Html.BeginForm("Index", "ThanhLy", FormMethod.Get))
{
    <div class="form-inline" role="form">
        <div>
            <input id="maSach" name="maSach" type="text" class="form-control" placeholder="Tìm Mã Sách">
        </div>
        <div>
            <input id="tenSach" name="tenSach" type="text" class="form-control" placeholder="Tìm Tên Sách">
        </div>
        <div>
            <label>Từ ngày</label>
            <input name="ngayFrom" type="date" class="form-control" />
            <label>đến ngày</label>
            <input name="ngayTo" type="date" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
}
<div class="table-responsive">
    <table class="table">

        <tr>
            <th>
                Mã Sách
            </th>
            <th>
                Tên Sách
            </th>
            <th>
                Chủ Đề
            </th>
            <th>
                Ngày Thanh Lý
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Sach.SachID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sach.TenSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sach.ChuDe.TenChuDe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngay)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        maSach = ViewBag.CurrentMaSach,
        tenSach = ViewBag.CurrentTenSach,

        ngayFrom = ViewBag.CurrentNgayFrom,
        ngayTo = ViewBag.CurrentNgayTo
    }))