@model PagedList.IPagedList<LibraryManagementSystem.Models.HocSinh>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Danh Sách Học Sinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
    <div class="col-md-2">
        <br />
    </div>
    <div class="col-md-2">
        <div class="text-right">
            <div class="dropdown ">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                    Thêm học sinh
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>@Html.ActionLink("Nhập tay", "Create", "HocSinh", null, new { data_modal = "" })</li>
                    <li>@Html.ActionLink("Thêm từ file", "ThemHocSinhTuFile", "HocSinh")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    @using (Html.BeginForm("Index", "HocSinh", FormMethod.Get, new { @id = "form-search" }))
    {
        <div class="col-md-3">
            <label for="tenHS" class="control-label">Tìm học sinh</label>
            <input id="tenHS" name="tenHS" type="text" class="form-control" placeholder="Tìm Học Sinh" value="@ViewBag.CurrentTenHS">
        </div>
        <div class="col-md-3">
            <label for="lopHS" class="control-label">Tìm lớp</label>
            @Html.DropDownList("lopHS", null, "Tất cả lớp", new { @class = "form-control", @id = "lopHS" })
        </div>
        <div class="col-md-1">
            <br />
            <button type="submit" class="btn btn-primary form-control">Tìm</button>
        </div>
        <div hidden>
            <input type="text" name="sortOrder" value="@ViewBag.CurrentSort" />
        </div>
        <div hidden>
            <input id="page-size" type="text" name="pageSize" value="" />
        </div>
    }
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <p>Tổng số: @Model.TotalItemCount</p>
    </div>
    <div class="col-md-offset-4 col-md-4 text-right form-inline">
        <label class="control-label text-right">Số dòng trong 1 trang: </label>
        @Html.DropDownList("pageSize", null, new { @class = "form-control", id = "_page-size" })
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Tên học sinh", "Index", new
               {
                   sortOrder = ViewBag.sortTenHS,
                   lopHS = ViewBag.CurrentLopHS,
                   tenHS = ViewBag.CurrentTenHS,
                   pageSize = ViewBag.CurrentPageSize
               })
                </th>
                <th>
                    @Html.ActionLink("Lớp", "Index", new
               {
                   sortOrder = ViewBag.sortLop,
                   lopHS = ViewBag.CurrentLopHS,
                   tenHS = ViewBag.CurrentTenHS,
                   pageSize = ViewBag.CurrentPageSize
               })
                </th>
                <th>
                    @Html.ActionLink("Ngày Sinh", "Index", new
               {
                   sortOrder = ViewBag.sortNgaySinh,
                   lopHS = ViewBag.CurrentLopHS,
                   tenHS = ViewBag.CurrentTenHS,
                   pageSize = ViewBag.CurrentPageSize
               })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class='clickable-row'>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lop)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgaySinh)
                    </td>
                    <td class="hidden">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { data_modal = " ", @id = "editActionLink" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        lopHS = ViewBag.CurrentLopHS,
        tenHS = ViewBag.CurrentTenHS,
        sortOrder = ViewBag.CurrentSort,
        pageSize = ViewBag.CurrentPageSize
    }))

@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                $(this).find("#editActionLink").click();
            });
            function getPageSize() {
                var page = $("#_page-size").val();
                $("#page-size").val(page);
            }
            $("#_page-size").change(function () {
                getPageSize();
                $("#form-search").submit();
            });
            $("#form-search").submit(function () {
                getPageSize();
            });
        });

    </script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")

}