@model IEnumerable<LibraryManagementSystem.Models.HocSinh>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Danh Sách Học Sinh</h2>
<br />
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "HocSinh", FormMethod.Get))
        {
            <div class="form-inline" role="form">
                <div class="form-group">
                    <input id="tenHS" name="tenHS" type="text" class="form-control" placeholder="Tìm Học Sinh">
                </div>
                <div class="form-group">
                    <input id="lopHS" name="lopHS" type="text" class="form-control" placeholder="Tìm Lớp">
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        }
    </div>
    <div class="col-md-4 text-right form-inline">
        <a href="HocSinh/Create" class="btn btn-primary active" role="button">Thêm Mới</a>
        <a href="HocSinh/ThemHocSinhTuFile" class="btn btn-primary active" role="button">Thêm Từ File</a>
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink("Tên học sinh", "Index", new { sortOrder = ViewBag.sorTen })
            </th>
            <th>
                @Html.ActionLink("Lớp", "Index", new { sortOrder = ViewBag.sortLop })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.TenHS, "Edit", new { id = item.ID }) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
            </tr>
        }
    </table>
</div>