@model LibraryManagementSystem.Models.MuonTraSach

@{
    ViewBag.Title = "Xóa Hoạt Động Mượn Trả Sách";
}

<h2 class="text-center">Xóa Hoạt Động Mượn Trả Sách</h2>
<hr />
<h4>Xác Nhận Thông Tin Xóa Sách</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HocSinh.TenHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocSinh.TenHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sach.SachID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sach.SachID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayMuon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMuon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HanTra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HanTra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTra)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác Nhận Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Danh Sách Học Sinh Đang Mượn Sách", "Index")
        </div>
    }
</div>
