@model LibraryManagementSystem.Models.MuonTraSach

@{
    ViewBag.Title = "Gia Hạn Mượn Sách";
}

<h2 class="text-center">Gia Hạn Mượn Sách</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Sach.TenSach, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Sach.IDandTen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HocSinh.TenHS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.HocSinh.TenHS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayMuon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NgayMuon)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Thời gian gia hạn</label>
            <div class="col-md-10">
                <select id="duration_time" class="form-control" onchange="setDate()">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HanTra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    string _year_hantra = Model.HanTra.Year.ToString();
                    string _month_hantra = Model.HanTra.Month.ToString();
                    string _day_hantra = Model.HanTra.Day.ToString();

                    string _date_hantra = _year_hantra.PadLeft(4, '0') + "-" + _month_hantra.PadLeft(2, '0') + "-" + _day_hantra.PadLeft(2, '0');

                }
                <input type="date" id="_hanTra" value="@_date_hantra" hidden />
                <p id="showHanTra"></p>
                <input class="form-control hidden" id="HanTra" name="HanTra" type="date" />
                @Html.ValidationMessageFor(model => model.HanTra, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="col-md-8">
                    @Html.ActionLink("Danh Sách Học Sinh Đang Mượn Sách", "Index")
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Gia Hạn Trả" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
                    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            getDate();
            function getDate() {
                var hanTra = $("#_hanTra").val().split('-');
                var duration = $("#duration_time").val();
                var deadline = new Date(hanTra[0], hanTra[1], hanTra[2]);
                deadline.setTime(deadline.getTime() + (duration * 86400000));
                var dd = ("0" + deadline.getDate()).slice(-2);
                var MM = ("0" + deadline.getMonth()).slice(-2);
                var YYYY = deadline.getFullYear();
                var newDate = YYYY + '-' + MM + '-' + dd;
                $("#showHanTra").text(dd + '/' + MM + '/' + YYYY);
                $("#HanTra").val(newDate);
            };
            $("#duration_time").change(function () {
                getDate();
            });
        })
    </script>
}
