@model LibraryManagementSystem.Models.HocSinh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Mượn Sách</h2>
<br />
<div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">@Html.DisplayFor(model => model.TenHS)</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Lop)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Lop)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NgaySinh)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NgaySinh)
                </dd>
                <dt>
                    Sáng đang mượn
                </dt>
                <dd>
                    @ViewBag.SachDangMuonCount
                </dd>
                <dt>
                    Sách quá hạn
                </dt>
                <dd>
                    @ViewBag.SachQuaHanCount
                </dd>
                <dt>
                    Sách đã mượn
                </dt>
                <dd>
                    @ViewBag.SachDaMuonCount
                </dd>
                <dt>
                    Sách làm mất
                </dt>
                <dd>
                    @ViewBag.SachMatCount
                </dd>
            </dl>
        </div>
        <div class="col-md-8">
            <div class="form-horizontal">
                <div class="form-group">

                    @if (TempData["Message"] != null)
                    {
                        <h4 class="text-center text-danger">@TempData["Message"]</h4>
                    }
                    else
                    {
                        <div class="row">
                            @using (Html.BeginForm())
                            {
                                <div class="col-md-5">
                                    <label class="control-label">Tìm Mã Sách</label>
                                    <input type="text" name="maSach" class="form-control" />
                                </div>
                                <div class="col-md-5">
                                    <label class="control-label">Tìm Tên Sách</label>
                                    <input type="text" name="tenSach" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <br />
                                    <input type="submit" value="Tìm Sách" class="btn btn-primary" />
                                </div>
                            }
                        </div>
                    }
                    <div class="text-center">
                        @if (TempData["Success"] != null)
                        {
                            <h5 class="text-success">@TempData["Success"]</h5>
                        }
                        @if (ViewBag.SachID == null)
                        {
                            <h5 class="text-danger">@TempData["Search_result"]</h5>
                        }
                    </div>
                </div>
                <div class="form-group">
                    @if (ViewBag.SachID != null)
                    {
                        <hr />
                        <div class="text-center">
                            <h4>@TempData["Search_result"]</h4>
                        </div>
                        using (Html.BeginForm("Create", "MuonTraSach"))
                        {
                            string date;
                            string year = DateTime.Now.Year.ToString();
                            string month = DateTime.Now.Month.ToString();
                            string day = DateTime.Now.Day.ToString();
                            date = year.PadLeft(4, '0') + "-" + month.PadLeft(2, '0') + "-" + day.PadLeft(2, '0');

                            <input class="form-control" name="HocSinhID" type="hidden" value="@Model.ID" />
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <label class="control-label">Tên Sách</label>
                                    @Html.DropDownList("SachID", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Ngày Mượn</label>
                                    <input class="form-control" name="NgayMuon" type="date" value="@date" />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-success col-md-offset-3 col-md-6">Xác nhận mượn</button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div>
    @Html.ActionLink("Tìm Học Sinh Khác", "TimHocSinh") |
    @Html.ActionLink("Danh Sách Học Sinh Đang Mượn Sách", "Index")
</div>
<br />
<div>
    @if (ViewBag.SachDangMuon != null)
    {
        <br />
        <h3>Sách Đang Mượn</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        Mã Sách
                    </th>
                    <th>
                        Tên Sách
                    </th>
                    <th>
                        Ngày Mượn
                    </th>
                    <th>
                        Hạn Trả
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in ViewBag.SachDangMuon)
                {
                    <tr>
                        <td>
                            @item.Sach.SachID
                        </td>
                        <td>
                            @item.Sach.TenSach
                        </td>
                        <td>
                            @item.NgayMuon.ToShortDateString()
                        </td>
                        <td>
                            @item.HanTra.ToShortDateString()
                        </td>

                        <td>
                            @Html.ActionLink("Trả Sách", "TraSach", "MuonTraSach", new { id = item.ID }, null)
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    @if (ViewBag.SachQuaHan != null)
    {
        <br />
        <h3>Sách Qúa Hạn</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        Mã Sách
                    </th>
                    <th>
                        Tên Sách
                    </th>
                    <th>
                        Ngày Mượn
                    </th>
                    <th>
                        Hạn Trả
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in ViewBag.SachQuaHan)
                {
                    <tr>
                        <td>
                            @item.Sach.SachID
                        </td>
                        <td>
                            @item.Sach.TenSach
                        </td>
                        <td>
                            @item.NgayMuon.ToShortDateString()
                        </td>
                        <td>
                            @item.HanTra.ToShortDateString()
                        </td>

                        <td>
                            @Html.ActionLink("Trả Sách", "TraSach", "MuonTraSach", new { id = item.ID }, null)
                        </td>
                    </tr>
                }
            </table>
        </div>
    }

    @if (ViewBag.SachDaMuon != null)
    {
        <br />
        <h3>Sách Đã Mượn</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        Mã Sách
                    </th>
                    <th>
                        Tên Sách
                    </th>
                    <th>
                        Ngày Mượn
                    </th>
                    <th>
                        Ngày Trả
                    </th>
                </tr>
                @foreach (var item in ViewBag.SachDaMuon)
                {
                    <tr>
                        <td>
                            @item.Sach.SachID
                        </td>
                        <td>
                            @item.Sach.TenSach
                        </td>
                        <td>
                            @item.NgayMuon.ToShortDateString()
                        </td>
                        <td>
                            @item.NgayTra.ToShortDateString()
                        </td>
                    </tr>
                }
            </table>
        </div>
    }

    @if (ViewBag.SachMat != null)
    {
        <br />
        <h3>Sách Làm Mất</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        Mã Sách
                    </th>
                    <th>
                        Tên Sách
                    </th>
                    <th>
                        Ngày Báo Mất
                    </th>
                </tr>
                @foreach (var item in ViewBag.SachMat)
                {
                    <tr>
                        <td>
                            @item.Sach.SachID
                        </td>
                        <td>
                            @item.Sach.TenSach
                        </td>
                        <td>
                            @item.NgayTra.ToShortDateString()
                        </td>
                    </tr>
                }
            </table>
        </div>
    }

</div>
