@model LibraryManagementSystem.Models.HocSinh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Mượn Sách</h2>
<br />
<div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">@Html.DisplayFor(model => model.TenHS)</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Lop)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Lop)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NgaySinh)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NgaySinh)
                </dd>
                <dt>
                    Sáng đang mượn
                </dt>
                <dd>
                    @ViewBag.SachDangMuonCount
                </dd>
                <dt>
                    Sách quá hạn
                </dt>
                <dd>
                    @ViewBag.SachQuaHanCount
                </dd>
                <dt>
                    Sách đã mượn
                </dt>
                <dd>
                    @ViewBag.SachDaMuonCount
                </dd>
                <dt>
                    Sách làm mất
                </dt>
                <dd>
                    @ViewBag.SachMatCount
                </dd>
            </dl>
        </div>
        <div class="col-md-8">
            <div class="form-horizontal">
                <div class="form-group">

                    @if (TempData["Message"] != null)
                    {
                        <h4 class="text-center text-danger">@TempData["Message"]</h4>
                    }
                    else
                    {
                        <div class="row">
                            @using (Html.BeginForm())
                            {
                                <div class="col-md-5">
                                    <label class="control-label">Tìm Mã Sách</label>
                                    <input type="text" name="maSach" class="form-control" />
                                </div>
                                <div class="col-md-5">
                                    <label class="control-label">Tìm Tên Sách</label>
                                    <input type="text" name="tenSach" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <br />
                                    <input type="submit" value="Tìm Sách" class="btn btn-primary" />
                                </div>
                            }
                        </div>
                    }
                    <div class="text-center">
                        @if (TempData["Success"] != null)
                        {
                            <h5 class="text-success">@TempData["Success"]</h5>
                        }
                        @if (ViewBag.SachID == null)
                        {
                            <h5 class="text-danger">@TempData["Search_result"]</h5>
                        }
                    </div>
                </div>
                <div class="form-group">
                    @if (ViewBag.SachID != null)
                    {
                        <hr />
                        <div class="text-center">
                            <h4>@TempData["Search_result"]</h4>
                        </div>
                        using (Html.BeginForm("Create", "MuonTraSach"))
                        {
                            string date;
                            string year = DateTime.Now.Year.ToString();
                            string month = DateTime.Now.Month.ToString();
                            string day = DateTime.Now.Day.ToString();
                            date = year.PadLeft(4, '0') + "-" + month.PadLeft(2, '0') + "-" + day.PadLeft(2, '0');

                            <input class="form-control" name="HocSinhID" type="hidden" value="@Model.ID" />
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <label class="control-label">Tên Sách</label>
                                    @Html.DropDownList("SachID", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Ngày Mượn</label>
                                    <input class="form-control" name="NgayMuon" type="date" value="@date" />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-success col-md-offset-3 col-md-6">Xác nhận mượn</button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div>
    @Html.ActionLink("Tìm Học Sinh Khác", "TimHocSinh") |
    @Html.ActionLink("Danh Sách Học Sinh Đang Mượn Sách", "Index")
</div>
<br />
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#dang_muon"><h4>Sách Đang Mượn</h4></a></li>
    <li><a data-toggle="tab" href="#qua_han"><h4>Sách Quá Hạn</h4></a></li>
    <li><a data-toggle="tab" href="#da_muon"><h4>Sách Đã Mượn</h4></a></li>
    <li><a data-toggle="tab" href="#mat"><h4>Sách Mất</h4></a></li>
</ul>

<div class="tab-content">
    <div id="dang_muon" class="tab-pane fade in active">
        @if (ViewBag.SachDangMuon != null)
        {
            <div class="table-responsive">
                <h3 class="text-center">Sách Đang Mượn</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Mã Sách
                            </th>
                            <th>
                                Tên Sách
                            </th>
                            <th>
                                Ngày Mượn
                            </th>
                            <th>
                                Hạn Trả
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.SachDangMuon)
                        {
                        <tr>
                            <td>
                                @item.Sach.SachID
                            </td>
                            <td>
                                @item.Sach.TenSach
                            </td>
                            <td>
                                @item.NgayMuon.ToShortDateString()
                            </td>
                            <td>
                                @item.HanTra.ToShortDateString()
                            </td>

                            <td>
                                <div class="btn-group navbar-btn dropup">
                                    @Html.ActionLink("Trả Sách", "TraSach", new { @id = item.ID }, new { @class = "btn btn-default btn-xs" })
                                    <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>@Html.ActionLink("Gia Hạn", "GiaHan", new { @id = item.ID })</li>
                                        <li>@Html.ActionLink("Báo Mất", "BaoMat", new { @id = item.ID })</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <br />
            <h4 class="text-center text-info">Không có sách đang mượn</h4>
        }
    </div>
    <div id="qua_han" class="tab-pane fade">
        @if (ViewBag.SachQuaHan != null)
        {
            <div class="table-responsive">
                <h3 class="text-center">Sách Qúa Hạn</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Mã Sách
                            </th>
                            <th>
                                Tên Sách
                            </th>
                            <th>
                                Ngày Mượn
                            </th>
                            <th>
                                Hạn Trả
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.SachQuaHan)
                        {
                            <tr>
                                <td>
                                    @item.Sach.SachID
                                </td>
                                <td>
                                    @item.Sach.TenSach
                                </td>
                                <td>
                                    @item.NgayMuon.ToShortDateString()
                                </td>
                                <td>
                                    @item.HanTra.ToShortDateString()
                                </td>

                                <td>
                                    <div class="btn-group navbar-btn dropup">
                                        @Html.ActionLink("Trả Sách", "TraSach", new { @id = item.ID }, new { @class = "btn btn-default btn-xs" })
                                        <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>@Html.ActionLink("Gia Hạn", "GiaHan", new { @id = item.ID })</li>
                                            <li>@Html.ActionLink("Báo Mất", "BaoMat", new { @id = item.ID })</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <br />
            <h4 class="text-center text-info">Không có sách quá hạn</h4>
        }
    </div>
    <div id="da_muon" class="tab-pane fade">
        @if (ViewBag.SachDaMuon != null)
        {
            <h3 class="text-center">Sách Đã Mượn</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Mã Sách
                            </th>
                            <th>
                                Tên Sách
                            </th>
                            <th>
                                Ngày Mượn
                            </th>
                            <th>
                                Ngày Trả
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.SachDaMuon)
                        {
                            <tr>
                                <td>
                                    @item.Sach.SachID
                                </td>
                                <td>
                                    @item.Sach.TenSach
                                </td>
                                <td>
                                    @item.NgayMuon.ToShortDateString()
                                </td>
                                <td>
                                    @item.NgayTra.ToShortDateString()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <br />
            <h4 class="text-center text-info">Không có sách đã mượn</h4>
        }
    </div>
    <div id="mat" class="tab-pane fade">
        @if (ViewBag.SachMat != null)
        {
            <h3 class="text-center">Sách Làm Mất</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Mã Sách
                            </th>
                            <th>
                                Tên Sách
                            </th>
                            <th>
                                Ngày Báo Mất
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.SachMat)
                        {
                            <tr>
                                <td>
                                    @item.Sach.SachID
                                </td>
                                <td>
                                    @item.Sach.TenSach
                                </td>
                                <td>
                                    @item.NgayTra.ToShortDateString()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <br />
            <h4 class="text-center text-info">Không có sách làm mất</h4>
        }
    </div>
</div>