@model IEnumerable<LibraryManagementSystem.Models.MuonTraSach>
@{
    ViewBag.Title = "Mượn Trả Sách";
}
<h2 class="text-center">Mượn Trả Sách</h2>
<br />
<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Lịch Sử Mượn Trả Sách", "LichSu")
    </div>
    <div class="col-md-4 text-right form-inline">
        <a href="~/MuonTraSach/TimHocSinh" class="btn btn-primary active" role="button">Thêm Mới</a>
    </div>
</div>
<br />

@if (ViewBag.MuonTraSach_Count > 0)
{
    <h3 class="text-center">Danh Sách Học Sinh Đang Mượn Sách</h3>
    <br />
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    Lớp
                </th>
                <th>
                    Tên Học Sinh
                </th>
                <th>
                    Ngày Sinh
                </th>
                <th>
                    Tên sách
                </th>
                <th>
                    Ngày mượn
                </th>
                <th>
                    Hạn trả
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in ViewBag.MuonTraSach)
            {
                int _count = 0;
                foreach (var muontrasach in item.GroupDanhSach)
                {
                    string _tr_class = "";
                    if (muontrasach.HanTra <= DateTime.Now)
                    {
                        _tr_class = "danger";
                    }
                    else
                    {
                        _tr_class = "";
                    }
                    <tr class="@_tr_class">
                        @if (_count == 0)
                        {
                            <td rowspan="@item.GroupSoLuong">
                                @item.GroupName1
                            </td>
                            <td rowspan="@item.GroupSoLuong">
                                @item.GroupName2
                            </td>
                            <td rowspan="@item.GroupSoLuong">
                                @item.GroupDatetime.ToShortDateString()
                            </td>
                        }
                        <td>
                            @muontrasach.Sach.IDandTen
                        </td>
                        <td>
                            @muontrasach.NgayMuon.ToShortDateString()
                        </td>
                        <td>
                            @muontrasach.HanTra.ToShortDateString()
                        </td>
                        <td>
                            <div class="btn-group navbar-btn">
                                @Html.ActionLink("Trả Sách", "TraSach", new { id = muontrasach.ID }, new { @class = "btn btn-default btn-xs" })
                                <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Báo Mất", "BaoMat", new { id = muontrasach.ID })</li>
                                    <li>@Html.ActionLink("Chỉnh Sửa", "Edit", new { id = muontrasach.ID })</li>
                                    <li>@Html.ActionLink("Chi Tiết", "Details", new { id = muontrasach.ID })</li>
                                    <li>@Html.ActionLink("Xóa", "Delete", new { id = muontrasach.ID })</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    _count++;
                }
            }
        </table>
    </div>
}
else
{
            < p > Không có hoạt động mượn sách </ p >
}
