@model PagedList.IPagedList<LibraryManagementSystem.Models.MuonTraSach>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Mượn Trả Sách";
}
<h2 class="text-center">Mượn Trả Sách</h2>
<br />
<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Lịch Sử Mượn Trả Sách", "LichSu")
    </div>
    <div class="col-md-4 text-right form-inline">
        <a href="~/MuonTraSach/TimHocSinh" class="btn btn-primary active" role="button">Thêm Mới</a>
    </div>
</div>
<br />
<div>
    @using (Html.BeginForm("Index", "MuonTraSach", FormMethod.Get))
    {
        <div class="form-inline" role="form">
            <div>
                <input id="lopHS" name="lopHS" type="text" class="form-control" placeholder="Tìm Lớp">
            </div>
            <div>
                <input id="tenHS" name="tenHS" type="text" class="form-control" placeholder="Tìm Học Sinh">
            </div>
            <div>
                <input id="maSach" name="maSach" type="text" class="form-control" placeholder="Tìm Mã Sách">
            </div>
            <div>
                <input id="tenSach" name="tenSach" type="text" class="form-control" placeholder="Tìm Tên Sách">
            </div>
            <div>
                <label>ngày mượn</label>
                <input name="ngayFrom" type="date" class="form-control" />
                <label>đến ngày</label>
                <input name="ngayTo" type="date" class="form-control" />
            </div>
            <div>
                <select name="type" class="form-control">
                    <option value="0">Sách Đang Mượn</option>
                    <option value="1">Sách Quá Hạn</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    }
</div>
<br />
<h3 class="text-center">@TempData["Title"]</h3>
<br />

<div class="table-responsive">
    <table class="table">

        <tr>
            <th>
                Lớp
            </th>
            <th>
                Tên Học Sinh
            </th>
            <th>
                Ngày Sinh
            </th>
            <th>
                Tên sách
            </th>
            <th>
                Ngày mượn
            </th>
            <th>
                Hạn trả
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
            {
                string _class = "";
                if (item.HanTra.Date < DateTime.Now.Date)
                {
                    _class = "danger";
                }
                else if (item.HanTra.Date == DateTime.Now.Date)
                {
                    _class = "warning";
                }
                <tr class="@_class">
                    <td>
                        @item.HocSinh.Lop
                    </td>
                    <td>
                        @item.HocSinh.TenHS
                    </td>
                    <td>
                        @item.HocSinh.NgaySinh.ToShortDateString()
                    </td>
                    <td>
                        @item.Sach.IDandTen
                    </td>
                    <td>
                        @item.NgayMuon.ToShortDateString()
                    </td>
                    <td>
                        @item.HanTra.ToShortDateString()
                    </td>
                    <td>
                        <div class="btn-group navbar-btn">
                            @Html.ActionLink("Trả Sách", "TraSach", new { id = item.ID }, new { @class = "btn btn-default btn-xs" })
                            <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Gia Hạn", "GiaHan", new { id = item.ID })</li>
                                <li>@Html.ActionLink("Báo Mất", "BaoMat", new { id = item.ID })</li>
                                <li>@Html.ActionLink("Sửa", "Edit", new { id = item.ID })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
        }
    </table>
</div>
<br />


Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        type = ViewBag.CurrentType,
        lopHS = ViewBag.CurrentLopHS,
        tenHS = ViewBag.CurrentTenHS,
        maSach = ViewBag.CurrentMaSach,
        tenSach = ViewBag.CurrentTenSach,
        ngayFrom = ViewBag.CurrentNgayFrom,
        ngayTo = ViewBag.CurrentNgayTo
    }))