@model IEnumerable<LibraryManagementSystem.Models.MuonTraSach>
@{
    ViewBag.Title = "Mượn Trả Sách";
}
<h2 class="text-center">Mượn Trả Sách</h2>
<br />
<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Lịch Sử Mượn Trả Sách", "LichSu")
    </div>
    <div class="col-md-4 text-right form-inline">
        <a href="~/MuonTraSach/TimHocSinh" class="btn btn-primary active" role="button">Thêm Mới</a>
    </div>
</div>
<br />
<div>
    @using (Html.BeginForm("Index", "MuonTraSach", FormMethod.Get))
    {
        <div class="form-inline" role="form">
            <div>
                <input id="lopHS" name="lopHS" type="text" class="form-control" placeholder="Tìm Lớp">
            </div>
            <div>
                <input id="tenHS" name="tenHS" type="text" class="form-control" placeholder="Tìm Học Sinh">
            </div>
            <div>
                <input id="maSach" name="maSach" type="text" class="form-control" placeholder="Tìm Mã Sách">
            </div>
            <div>
                <input id="tenSach" name="tenSach" type="text" class="form-control" placeholder="Tìm Tên Sách">
            </div>
            <div>
                <label>ngày mượn</label>
                <input name="ngayMuonFrom" type="date" class="form-control" />
                <label>đến ngày</label>
                <input name="ngayMuonTo" type="date" class="form-control" />
            </div>
            <div>
                <select name="type" class="form-control">
                    <option value="0">Sách Đang Mượn</option>
                    <option value="1">Sách Quá Hạn</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    }
</div>
<br />
@if (ViewBag.MuonTraSach_Count > 0)
{
    <h3 class="text-center">@TempData["Title"]</h3>
    <br />

    <div class="table-responsive">
        <table class="table">
            @{
                int count = 1;
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Lớp
                    </th>
                    <th>
                        Tên Học Sinh
                    </th>
                    <th>
                        Ngày Sinh
                    </th>
                    <th>
                        Tên sách
                    </th>
                    <th>
                        Ngày mượn
                    </th>
                    <th>
                        Hạn trả
                    </th>
                    <th>
                    </th>
                </tr>

                foreach (var item in ViewBag.MuonTraSach)
                {
                    string _class = "";
                    if (item.HanTra.Date < DateTime.Now.Date)
                    {
                        _class = "danger";
                    }
                    else if (item.HanTra.Date == DateTime.Now.Date)
                    {
                        _class = "warning";
                    }
                    <tr class="@_class">
                        <td>
                            @Html.ActionLink(@count.ToString(), "Edit", new { id = item.ID })
                        </td>
                        <td>
                            @item.HocSinh.Lop
                        </td>
                        <td>
                            @item.HocSinh.TenHS
                        </td>
                        <td>
                            @item.HocSinh.NgaySinh.ToShortDateString()
                        </td>
                        <td>
                            @item.Sach.IDandTen
                        </td>
                        <td>
                            @item.NgayMuon.ToShortDateString()
                        </td>
                        <td>
                            @item.HanTra.ToShortDateString()
                        </td>
                        <td>
                            <div class="btn-group navbar-btn">
                                @Html.ActionLink("Trả Sách", "TraSach", new { id = item.ID }, new { @class = "btn btn-default btn-xs" })
                                <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Gia Hạn", "GiaHan", new { id = item.ID })</li>
                                    <li>@Html.ActionLink("Báo Mất", "BaoMat", new { id = item.ID })</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    count++;
                }
            }
        </table>
    </div>
}
else
{
    <p>Không có hoạt động mượn sách</p>
}
