@model IEnumerable<LibraryManagementSystem.Models.MuonTraSach>
@{
    ViewBag.Title = "Lịch Sử Mượn Trả Sách";
}
<h2 class="text-center">Lịch Sử Mượn Trả Sách</h2>
<br />
<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Danh Sách Học Sinh Đang Mượn Sách", "Index")
    </div>
    <div class="col-md-4 text-right form-inline">
        <a href="~/MuonTraSach/TimHocSinh" class="btn btn-primary active" role="button">Thêm Mới</a>
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HocSinh.Lop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HocSinh.TenHS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HocSinh.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sach.TenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayMuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HanTra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTra)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.Lop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.TenHS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sach.IDandTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayMuon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HanTra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTra)
                </td>
            </tr>
        }
    </table>
</div>