@model PagedList.IPagedList<LibraryManagementSystem.Models.MuonTraSach>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Lịch Sử Mượn Trả Sách";
}
<h2 class="text-center">Lịch Sử Mượn Trả Sách</h2>
<br />
<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Danh Sách Học Sinh Đang Mượn Sách", "Index")
    </div>
    <div class="col-md-4 text-right form-inline">
        <a href="~/MuonTraSach/TimHocSinh" class="btn btn-primary active" role="button">Thêm Mới</a>
    </div>
</div>
<br />
<div>
    @using (Html.BeginForm("LichSu", "MuonTraSach", FormMethod.Get))
    {
        <div class="form-inline" role="form">
            <div>
                <input id="lopHS" name="lopHS" type="text" class="form-control" placeholder="Tìm Lớp">
            </div>
            <div>
                <input id="tenHS" name="tenHS" type="text" class="form-control" placeholder="Tìm Học Sinh">
            </div>
            <div>
                <input id="maSach" name="maSach" type="text" class="form-control" placeholder="Tìm Mã Sách">
            </div>
            <div>
                <input id="tenSach" name="tenSach" type="text" class="form-control" placeholder="Tìm Tên Sách">
            </div>
            <div>
                <label>Ngày mượn</label>
                <input name="ngayFrom" type="date" class="form-control" />
                <label>Đến ngày</label>
                <input name="ngayTo" type="date" class="form-control" />
            </div>
            <div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    }
</div>
<br />
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Lớp
            </th>
            <th>
                Tên Học Sinh
            </th>
            <th>
                Ngày Sinh
            </th>
            <th>
                Tên Sách
            </th>
            <th>
                Ngày Mượn
            </th>
            <th>
                Hạn Trả
            </th>
            <th>
                Ngày Trả
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.Lop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.TenHS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sach.IDandTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayMuon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HanTra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTra)
                </td>
            </tr>
        }
    </table>
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("LichSu",
    new
    {
        page,
        type = ViewBag.CurrentType,
        lopHS = ViewBag.CurrentLopHS,
        tenHS = ViewBag.CurrentTenHS,
        maSach = ViewBag.CurrentMaSach,
        tenSach = ViewBag.CurrentTenSach,
        ngayFrom = ViewBag.CurrentNgayFrom,
        ngayTo = ViewBag.CurrentNgayTo
    }))