@model PagedList.IPagedList<LibraryManagementSystem.Models.MuonTraSach>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Lịch Sử Mượn Trả Sách";
}
<h2 class="text-center">Lịch Sử Mượn Trả Sách</h2>
<br />
<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Danh Sách Học Sinh Đang Mượn Sách", "Index")
    </div>
    <div class="col-md-4 text-right form-inline">
        <a href="~/MuonTraSach/TimHocSinh" class="btn btn-primary active" role="button">Mượn Sách</a>
    </div>
</div>
<br />
@using (Html.BeginForm("LichSu", "MuonTraSach", FormMethod.Get))
{
    <div>

        <div class="form-inline" role="form">
            <div>
                <input id="lopHS" name="lopHS" type="text" class="form-control" placeholder="Tìm Lớp" value="@ViewBag.CurrentLopHS">
            </div>
            <div>
                <input id="tenHS" name="tenHS" type="text" class="form-control" placeholder="Tìm Học Sinh" value="@ViewBag.CurrentTenHS">
            </div>
            <div>
                <input id="maSach" name="maSach" type="text" class="form-control" placeholder="Tìm Mã Sách" value="@ViewBag.CurrentMaSach">
            </div>
            <div>
                <input id="tenSach" name="tenSach" type="text" class="form-control" placeholder="Tìm Tên Sách" value="@ViewBag.CurrentTenSach">
            </div>
            <div>
                <label>Ngày mượn</label>
                @{
                    string dateFrom = "";
                    if (ViewBag.CurrentNgayFrom != null)
                    {
                        string yearFrom = ViewBag.CurrentNgayFrom.Year.ToString();
                        string monthFrom = ViewBag.CurrentNgayFrom.Month.ToString();
                        string dayFrom = ViewBag.CurrentNgayFrom.Day.ToString();

                        dateFrom = yearFrom.PadLeft(4, '0') + "-" + monthFrom.PadLeft(2, '0') + "-" + dayFrom.PadLeft(2, '0');
                    }
                }
                <input name="ngayFrom" type="date" class="form-control" value="@dateFrom"/>
                <label>Đến ngày</label>
                @{
                    string dateTo = "";
                    if (ViewBag.CurrentNgayTo != null)
                    {
                        string yearTo = ViewBag.CurrentNgayTo.Year.ToString();
                        string monthTo = ViewBag.CurrentNgayTo.Month.ToString();
                        string dayTo = ViewBag.CurrentNgayTo.Day.ToString();

                        dateTo = yearTo.PadLeft(4, '0') + "-" + monthTo.PadLeft(2, '0') + "-" + dayTo.PadLeft(2, '0');

                    }
                }
                <input name="ngayTo" type="date" class="form-control" value="@dateTo" />
            </div>
            <div>
                <button type="submit" class="btn btn-default">Tìm</button>
            </div>
            <div hidden>
                <input type="text" name="sortOrder" value="@ViewBag.CurrentSort" />
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-offset-8 col-md-4 text-right form-inline">
            <label class="control-label text-right">Số dòng trong 1 trang: </label>
            @Html.DropDownList("pageSize", null, new { @class = "form-control", @onchange = "this.form.submit()" })
        </div>
    </div>
                    }
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink("Lớp", "LichSu", new {
               sortOrder = ViewBag.SortLop, type = ViewBag.CurrentType,
               lopHS = ViewBag.CurrentLopHS, tenHS = ViewBag.CurrentTenHS,
               maSach = ViewBag.CurrentMaSach, tenSach = ViewBag.CurrentTenSach,
               ngayFrom = ViewBag.CurrentNgayFrom, ngayTo = ViewBag.CurrentNgayTo,
               pageSize = ViewBag.CurrentPageSize })
            </th>
            <th>
                @Html.ActionLink("Tên Học Sinh", "LichSu", new {
               sortOrder = ViewBag.SortTenHS, type = ViewBag.CurrentType,
               lopHS = ViewBag.CurrentLopHS, tenHS = ViewBag.CurrentTenHS,
               maSach = ViewBag.CurrentMaSach, tenSach = ViewBag.CurrentTenSach,
               ngayFrom = ViewBag.CurrentNgayFrom, ngayTo = ViewBag.CurrentNgayTo,
               pageSize = ViewBag.CurrentPageSize })
            </th>
            <th>
                @Html.ActionLink("Ngày Sinh", "LichSu", new {
               sortOrder = ViewBag.SortNgaySinh, type = ViewBag.CurrentType,
               lopHS = ViewBag.CurrentLopHS, tenHS = ViewBag.CurrentTenHS,
               maSach = ViewBag.CurrentMaSach, tenSach = ViewBag.CurrentTenSach,
               ngayFrom = ViewBag.CurrentNgayFrom, ngayTo = ViewBag.CurrentNgayTo,
               pageSize = ViewBag.CurrentPageSize })
            </th>
            <th>
                @Html.ActionLink("Tên sách", "LichSu", new {
               sortOrder = ViewBag.SortTenSach, type = ViewBag.CurrentType,
               lopHS = ViewBag.CurrentLopHS, tenHS = ViewBag.CurrentTenHS,
               maSach = ViewBag.CurrentMaSach,tenSach = ViewBag.CurrentTenSach,
               ngayFrom = ViewBag.CurrentNgayFrom, ngayTo = ViewBag.CurrentNgayTo,
               pageSize = ViewBag.CurrentPageSize })
            </th>
            <th>
                @Html.ActionLink("Ngày mượn", "LichSu", new {
               sortOrder = ViewBag.SortNgayMuon, type = ViewBag.CurrentType,
               lopHS = ViewBag.CurrentLopHS, tenHS = ViewBag.CurrentTenHS,
               maSach = ViewBag.CurrentMaSach, tenSach = ViewBag.CurrentTenSach,
               ngayFrom = ViewBag.CurrentNgayFrom, ngayTo = ViewBag.CurrentNgayTo,
               pageSize = ViewBag.CurrentPageSize })
            </th>
            <th>
                @Html.ActionLink("Hạn trả", "LichSu", new {
               sortOrder = ViewBag.SortHanTra, type = ViewBag.CurrentType,
               lopHS = ViewBag.CurrentLopHS, tenHS = ViewBag.CurrentTenHS,
               maSach = ViewBag.CurrentMaSach, tenSach = ViewBag.CurrentTenSach,
               ngayFrom = ViewBag.CurrentNgayFrom, ngayTo = ViewBag.CurrentNgayTo,
               pageSize = ViewBag.CurrentPageSize })
            </th>
            <th>
                @Html.ActionLink("Ngày trả", "LichSu", new {
               sortOrder = ViewBag.SortNgayTra, type = ViewBag.CurrentType,
               lopHS = ViewBag.CurrentLopHS, tenHS = ViewBag.CurrentTenHS,
               maSach = ViewBag.CurrentMaSach, tenSach = ViewBag.CurrentTenSach,
               ngayFrom = ViewBag.CurrentNgayFrom, ngayTo = ViewBag.CurrentNgayTo,
               pageSize = ViewBag.CurrentPageSize })
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.Lop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.TenHS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sach.IDandTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayMuon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HanTra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTra)
                </td>
            </tr>
        }
    </table>
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("LichSu",
    new
    {
        page,
        type = ViewBag.CurrentType,
        lopHS = ViewBag.CurrentLopHS,
        tenHS = ViewBag.CurrentTenHS,
        maSach = ViewBag.CurrentMaSach,
        tenSach = ViewBag.CurrentTenSach,
        ngayFrom = ViewBag.CurrentNgayFrom,
        ngayTo = ViewBag.CurrentNgayTo,
        sortOrder = ViewBag.CurrentSort,
        pageSize = ViewBag.CurrentPageSize
    }))