
@{
    ViewBag.Title = "Tìm Học Sinh Mượn Sách";
}
<h2 class="text-center">Tìm Học Sinh Mượn Sách</h2>
<br />

<div class="form-horizontal">
    <div class="form-group">
        @using (Html.BeginForm(FormMethod.Get))
            {
            <div class="form-inline">
                <div class="control-label col-md-4"><strong>Tên Học Sinh</strong></div>
                <div class="col-md-4">
                    @Html.TextBox("tenHS", null, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Tìm" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        @if (TempData["Message_Fa"] != null)
            {
            <p class="col-md-offset-4 col-md-8 text-danger">@TempData["Message_Fa"]</p>
        }
        @if (TempData["Message_Su"] != null)
            {
            <p class="col-md-offset-4 col-md-8 text-success">@TempData["Message_Su"]</p>
        }
    </div>
</div>
<br />
<div>
    @Html.ActionLink("Danh Sách Học Sinh Đang Mượn Sách", "Index")
</div>
<br />
@if (ViewBag.HocSinh != null)
{
    <br />
    <h2>Kết Quả</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    Tên học sinh
                </th>
                <th>
                    Lớp
                </th>
                <th>
                    Ngày Sinh
                </th>
            </tr>

            @foreach (var item in ViewBag.HocSinh)
            {
                string url = "/MuonTraSach/HocSinh/" + item.ID;

                <tr class='clickable-row' data-href='@url'>
                    <td>
                        @item.TenHS
                    </td>
                    <td>
                        @item.Lop
                    </td>
                    <td>
                        @item.NgaySinh.ToShortDateString()
                    </td>
                </tr>
            }

        </table>
    </div>
}
@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
}
