
@{
    ViewBag.Title = "Tìm Học Sinh Mượn Sách";
}
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Danh Sách Đang Mượn Sách", "Index")
    </div>
    <div class="col-md-8">
        <h2 class="text-center">Mượn Sách</h2>
    </div>
    <div class="col-md-2">
        <br />
    </div>
    <div class="col-md-2">
        <br />
    </div>
</div>
<br />
<div class="row">
    @using (Html.BeginForm("TimHocSinh", "MuonTraSach", FormMethod.Get))
    {
        <div class="col-md-3">
            <label for="tenHS" class="control-label">Tìm học sinh</label>
            @Html.TextBox("tenHS", null, new { @class = "form-control", @id = "tenHS", @placeholder = "Tên học sinh" })
        </div>
        <div class="col-md-3">
            <label for="lopHS" class="control-label">Tìm lớp</label>
            @Html.DropDownList("lopHS", null, "Tất cả lớp", new { @class = "form-control row", @id = "lopHS" })
        </div>
        <div class="col-md-1">
            <div class="control-label">
                <br />
            </div>
            <button type="submit" class="btn btn-primary col-md-12">Tìm</button>
        </div>
    }
</div>
@if (TempData["Message_Fa"] != null)
            {
    <p class="text-center text-danger">@TempData["Message_Fa"]</p>
}
@if (TempData["Message_Su"] != null)
            {
    <p class="text-center text-success">@TempData["Message_Su"]</p>
}
<br />
<h3>@TempData["Title"]</h3>
@if (ViewBag.DSTimKiem != null)
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Tên học sinh
                    </th>
                    <th>
                        Lớp
                    </th>
                    <th>
                        Ngày Sinh
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.DSTimKiem)
                {
                    string url = "/MuonTraSach/HocSinh/" + item.ID;

                    <tr class='clickable-row' data-href='@url'>
                        <td>
                            @item.TenHS
                        </td>
                        <td>
                            @item.Lop
                        </td>
                        <td>
                            @item.NgaySinh.ToShortDateString()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
}
