@Html.Partial("~/Views/BaoCao/LuaChon.cshtml")
<br />
<div class="text-center">
    <hr />
    <h3>Báo Cáo @ViewBag.date</h3>
    <br />
</div>

@if (ViewBag.docsach_stt == true)
{
    <hr />
    @Html.Partial("~/Views/BaoCao/BaoCaoDocSach.cshtml")
    <br />
}

@if (ViewBag.muonsach_stt == true)
{
    <hr />
    @Html.Partial("~/Views/BaoCao/BaoCaoMuonSach.cshtml")
    <br />
}

@if (ViewBag.theloaiyeuthich_stt == true)
{
    <hr />
    @Html.Partial("~/Views/BaoCao/BaoCaoTheLoaiYeuThich.cshtml")
    <br />
}

@if (ViewBag.sachyeuthich_stt == true)
{
    <hr />
    @Html.Partial("~/Views/BaoCao/BaoCaoSachYeuThich.cshtml")
    <br />
}

@if (ViewBag.muonsachquahan_stt == true)
{
    <hr />
    @Html.Partial("~/Views/BaoCao/BaoCaoMuonSachQuaHan.cshtml")
    <br />
}

@if (ViewBag.thanhly_stt == true)
{
    <hr />
    @Html.Partial("~/Views/BaoCao/BaoCaoThanhLy.cshtml")
    <br />
}

@if (ViewBag.sachtrongthuvien_stt == true)
{
    <hr />
    @Html.Partial("~/Views/BaoCao/BaoCaoSachTrongThuVien.cshtml")
    <br />
}

