@model PagedList.IPagedList<LibraryManagementSystem.Models.Sach>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2 class="text-center">Danh sách Sách trong thư viện</h2>
    </div>
    <div class="col-md-2">
        <br />
    </div>
    <div class="col-md-2">
        <div class="text-right">
            <div class="dropdown ">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                    Thêm sách
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>@Html.ActionLink("Nhập tay", "Create", "Sach")</li>
                    <li>@Html.ActionLink("Thêm từ file", "ThemHocSinhTuFile", "Sach")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
@using (Html.BeginForm("Index", "Sach", FormMethod.Get, new { @id = "form-search" }))
{
        <div class="col-md-2">
            <label for="chuDeSach" class="control-label">Tìm chủ đề</label>
            @Html.DropDownList("chuDeSach", null, "Tất cả chủ đề", new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <label for="sachID" class="control-label">Tìm mã sách</label>
            <input id="sachID" name="sachID" type="text" class="form-control" placeholder="Tìm Mã Sách" value="@ViewBag.CurrentMaSach">
        </div>
        <div class="col-md-2">
            <label for="tenSach" class="control-label">Tìm tên sách</label>
            <input id="tenSach" name="tenSach" type="text" class="form-control" placeholder="Tìm Tên Sách" value="@ViewBag.CurrentTenSach">
        </div>
        <div class="col-md-2">
            <label for="trangThai" class="control-label">Tìm trạng thái</label>
            @Html.DropDownList("trangThai", null, "Tất cả trạng thái", new { @class = "form-control" })
        </div>
        <div class="col-md-1">
                <br />
            <button type="submit" class="btn btn-primary">Tìm</button>
        </div>

        
        <div hidden>
            <input type="text" name="sortOrder" value="@ViewBag.CurrentSort" />
        </div>
        <div hidden>
            <input id="page-size" type="text" name="pageSize" value="" />
        </div>
}
<br />
<div class="row">
    <div class="col-md-offset-8 col-md-4 text-right form-inline">
        <label class="control-label text-right">Số dòng trong 1 trang: </label>
        @Html.DropDownList("pageSize", null, new { @class = "form-control", id = "_page-size" })
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink("Tên chủ đề", "Index", new
           {
               sortOrder = ViewBag.sortChuDe,
               sachID = ViewBag.CurrentMaSach,
               tenSach = ViewBag.CurrentTenSach,
               chuDeSach = ViewBag.CurrentChuDeSach,
               pageSize = ViewBag.CurrentPageSize
           })
            </th>
            <th>
                @Html.ActionLink("Mã số sách", "Index", new
           {
               sortOrder = ViewBag.sortMaSach,
               sachID = ViewBag.CurrentMaSach,
               tenSach = ViewBag.CurrentTenSach,
               chuDeSach = ViewBag.CurrentChuDeSach,
               pageSize = ViewBag.CurrentPageSize
           })
            </th>
            <th>
                @Html.ActionLink("Tên sách", "Index", new
           {
               sortOrder = ViewBag.sortTenSach,
               sachID = ViewBag.CurrentMaSach,
               tenSach = ViewBag.CurrentTenSach,
               chuDeSach = ViewBag.CurrentChuDeSach,
               pageSize = ViewBag.CurrentPageSize
           })
            </th>
            <th>
                @Html.ActionLink("Trạng Thái", "Index", new
           {
               sortOrder = ViewBag.sortTrangThai,
               sachID = ViewBag.CurrentMaSach,
               tenSach = ViewBag.CurrentTenSach,
               chuDeSach = ViewBag.CurrentChuDeSach,
               pageSize = ViewBag.CurrentPageSize
           })
            </th>
        </tr>
        @foreach (var item in Model)
        {
            string url = "Sach/Edit/" + item.ID;

            <tr class='clickable-row' data-href='@url'>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuDe.TenChuDe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SachID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
            </tr>
        }
    </table>
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sachID = ViewBag.CurrentMaSach,
        tenSach = ViewBag.CurrentTenSach,
        chuDeSach = ViewBag.CurrentChuDeSach,
        sortOrder = ViewBag.CurrentSort,
        pageSize = ViewBag.CurrentPageSize
    }))
@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
            function getPageSize() {
                var page = $("#_page-size").val();
                $("#page-size").val(page);
            }
            $("#_page-size").change(function () {
                getPageSize();
                $("#form-search").submit();
            });
            $("#form-search").submit(function () {
                getPageSize();
            });
        });
    </script>
}
