@model PagedList.IPagedList<LibraryManagementSystem.Models.Sach>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>Danh sách Sách trong thư viện</h2>
</div>
<br />
@using (Html.BeginForm(FormMethod.Get))
            {
    <div class="row">
        <div class="col-md-8">

            <div class="form-inline" role="form">
                <div class="form-group">
                    @Html.DropDownList("chuDeSach", null, "Chủ Đề", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input id="sachID" name="sachID" type="text" class="form-control" placeholder="Tìm Mã Sách" value="@ViewBag.CurrentMaSach">
                </div>
                <div class="form-group">
                    <input id="tenSach" name="tenSach" type="text" class="form-control" placeholder="Tìm Tên Sách" value="@ViewBag.CurrentTenSach">
                </div>
                <button type="submit" class="btn btn-default">Tìm</button>
                <div hidden>
                    <input type="text" name="sortOrder" value="@ViewBag.CurrentSort" />
                </div>
            </div>

        </div>
        <div class="col-md-4 text-right">
            <div>
                <a href="Sach/Create" class="btn btn-primary active" role="button">Thêm một sách</a>
                <a href="Sach/ThemSachTuFile" class="btn btn-primary active" role="button">Thêm nhiều sách</a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-offset-8 col-md-4 text-right form-inline">
            <label class="control-label text-right">Số dòng trong 1 trang: </label>
            @Html.DropDownList("pageSize", null, new { @class = "form-control", @onchange = "this.form.submit()" })
        </div>
    </div>
}
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink("Tên chủ đề", "Index", new
           {
               sortOrder = ViewBag.sortChuDe,
               sachID = ViewBag.CurrentMaSach,
               tenSach = ViewBag.CurrentTenSach,
               chuDeSach = ViewBag.CurrentChuDeSach,
               pageSize = ViewBag.CurrentPageSize
           })
            </th>
            <th>
                @Html.ActionLink("Mã số sách", "Index", new
           {
               sortOrder = ViewBag.sortMaSach,
               sachID = ViewBag.CurrentMaSach,
               tenSach = ViewBag.CurrentTenSach,
               chuDeSach = ViewBag.CurrentChuDeSach,
               pageSize = ViewBag.CurrentPageSize
           })
            </th>
            <th>
                @Html.ActionLink("Tên sách", "Index", new
           {
               sortOrder = ViewBag.sortTenSach,
               sachID = ViewBag.CurrentMaSach,
               tenSach = ViewBag.CurrentTenSach,
               chuDeSach = ViewBag.CurrentChuDeSach,
               pageSize = ViewBag.CurrentPageSize
           })
            </th>
            <th>
                @Html.ActionLink("Trạng Thái", "Index", new
           {
               sortOrder = ViewBag.sortTrangThai,
               sachID = ViewBag.CurrentMaSach,
               tenSach = ViewBag.CurrentTenSach,
               chuDeSach = ViewBag.CurrentChuDeSach,
               pageSize = ViewBag.CurrentPageSize
           })
            </th>
        </tr>
        @foreach (var item in Model)
        {
            string url = "Sach/Edit/" + item.ID;

            <tr class='clickable-row' data-href='@url'>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuDe.TenChuDe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SachID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
            </tr>
        }
    </table>
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sachID = ViewBag.CurrentMaSach,
        tenSach = ViewBag.CurrentTenSach,
        chuDeSach = ViewBag.CurrentChuDeSach,
        sortOrder = ViewBag.CurrentSort,
        pageSize = ViewBag.CurrentPageSize
    }))
@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
}
