@{
    ViewBag.Title = "Home Page";
}
<div class="text-center"><h2>Danh Sách học sinh chưa trả sách ngày @DateTime.Now.ToShortDateString()</h2></div>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Mã Học Sinh
            </th>
            <th>
                Tên Học Sinh
            </th>
            <th>
                Tên Lớp
            </th>
            <th>
                Tên Sách
            </th>
            <th>
                Ngày Mượn
            </th>
            <th>
                Hạn Trả
            </th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.ds_quahan)
        {
            <tr>
                <td>
                    @item.HocSinh.MaHS
                </td>
                <td>
                    @item.HocSinh.TenHS
                </td>
                <td>
                    @item.HocSinh.Lop
                </td>
                <td>
                    @item.Sach.IDandTen
                </td>
                <td>
                    @item.NgayMuon.ToShortDateString()
                </td>
                <td>
                    @item.HanTra.ToShortDateString()
                </td>

                <td>
                    @Html.ActionLink("Trả Sách", "TraSach", "MuonTraSach", new { id = item.ID }, null)
                </td>
            </tr>
        }
    </table>
</div>